* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(61, 11, 11) 28%, rgb(107, 19, 3) 59%);
}

.cabecalho {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.cabecalho header > img {
    width: 40%;
    display: block; 
    margin: 0 auto; 
}


.cabecalho header > h1 {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin-top: -1.5rem;
}

.frase-1 {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.frase-1 > p {
    font-family: 'Roboto', sans-serif;
    color: aliceblue; 
    line-height: 1.6;
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.3rem;
}

.frase-1 span {
    font-family: 'Roboto', sans-serif;
    color: rgb(230, 230, 230); 
    font-weight: 300;
    font-size: 0.9rem;
}

.container-1 {
    width: 100%;
    height: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}

.container-1 > img {
    height: 20rem;
    border-radius: 8px;
}

.container-4 {
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-4 > img {
    height: 20rem;
    border-radius: 8px;
}

.container-2 {
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-2 > img {
    height: 20rem;
    width: 60%;
    border-radius: 8px;
}

.container-5 {
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-5 > img {
    height: 20rem;
    border-radius: 8px;
}

.container-3 {
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-3 > img {
    height: 20rem;
    border-radius: 8px;
}

.container-6 {
    width: 90%;
    height: 20rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container-6 > img {
    height: 20rem;
    border-radius: 8px;
}

.final {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.amo {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-weight: 700;
    font-size: 2rem;
}

.espaco {
    margin-top: 4rem;
}